- title('Too many teams!')

:markdown
  # Too many teams!

  ## More spots *may* open at [0:00 GMT]

  To accommodate as many people as possible, we'll be releasing more team spots
  over time at [0:00 GMT] each day up until close of registration.

  Your options are:

  - Be here at [0:00 GMT] when we open up more spots.
  - Check back randomly. Teams may give up their spot at any time.
  - Peruse the [existing teams](/teams) and try to find one to join.
  - Tweet about your misfortune (be sure to mention [@node_knockout]) and
    we can try to help you find a team to join.

  [0:00 GMT]: http://www.wolframalpha.com/input/?i=0:00+GMT
  [existing teams]: /teams
  [@node_knockout]: http://twitter.com/node_knockout
