if registration
  - title('Too many teams!')

  :markdown
    # Too many teams!

    ### More spots will open up on Oct 1 and Nov 1

    To accommodate as many people as possible, we'll be releasing team spots in
    larger chunks _four_ more times: __Oct 1__ and __Nov 1__ at __[0:00]__ and
    __[12:00 UTC]__.

    Your options are:

    - Be here at [0:00] or [12:00 UTC] when we open up more spots.
    - Check back randomly. Teams may give up their spot at any time.
    - Peruse the [existing teams](/teams) and try to find one to join.
    - Tweet about your misfortune (be sure to mention [@node_knockout]) and
      we can try to help you find a team to join.

    [0:00]: http://www.wolframalpha.com/input/?i=0:00+UTC
    [12:00 UTC]: http://www.wolframalpha.com/input/?i=12:00+UTC
    [existing teams]: /teams
    [@node_knockout]: http://twitter.com/node_knockout
else
  - title('Registration closed')

  :markdown
    # Registration closed

    Sorry, registration is now closed. Make sure to check your email, follow
    [@node_knockout], and watch [the blog] for more information about
    competition weekend!

    [@node_knockout]: https://twitter.com/node_knockout
    [the blog]: http://blog.nodeknockout.com
