- if (team.includes(user, session.team) || admin)
  .edit: a.button( href='/teams/' + team + '/edit' ) Edit

h1
  = title(team.entry.name || team.name)
  //!= partial('secrets')

 != markdown(team.description, { sanitize: true })

- if (team.invited(session.invite))
  h2 You're invited to this team!
  p.accept
    a.button.scary( href='/login/github' ) Accept Invitation
    |  via 
    i.icon-github
    |  github

- if (coding && (admin || team.includes(user)))
  != partial('steps')

- if (team.entry.name)
  != partial('entry')

- if (people.length)
  h2 Who
  - if (admin)
    a( href='mailto:' + _.pluck(people, 'email').join(',') ) Email team
  ul.people
    - each person in people
      li
        img.avatar( src=avatar_url(person) )
        a( href='/people/' + person )= person.github.login
        - if (person.location)
          |  &mdash; 
          = person.location

- if (team.invites.length)
  h2 Invites (#{team.invites.length} pending)
  - if (admin)
    a( href='mailto:' + _.pluck(team.invites, 'email').join(',') ) Email team
    i  Created #{relativeDate(team.createdAt)}
  - if (team.includes(user, session.team) || admin)
    p Check your email for invites or resend invites below.
    ul.invites
      - each invite in team.invites
        li
          = invite.email
          |  &mdash; 
          a( href='/teams/' + team + '/invites/' + invite.id, rel='nofollow' ) resend
          span.sending

- if (team.entry.colophon)
  h2 How
  != markdown(team.entry.colophon)

- if (voting || publicVotes && publicVotes.length || votes && votes.length)
  != partial('votes')
