h1#votes Votes

h2 Your Vote
- if (req.user && team.includes(req.user))
  p.sorry Team members may not vote on their own teams.
- else
  != partial('votes/form', { vote: vote })
  - if (req.user)
    p: a( href='/people/' + req.user + '#votes' )  View all your votes &rarr;

h2 Other Votes
ul.votes
  - if (!publicVotes.length)
    li No votes yet.
  -else
    li.vote
      .info.hearts
        - each vote in publicVotes
          img.heart( src='/images/iframe/heart.png' )
        |  (#{publicVotes.length})
      .people
        - each vote in publicVotes
          - if (vote.person)
            a( href='/people/' + vote.person, title=vote.person.login )
              img.avatar( src=avatar_url(vote.person, 30) )
ul.votes!= partial('votes/vote', votes)
