- if (typeof(errors) !== 'undefined')
  ul.errors
    - each error in errors
      - parsed = error.message.match(/^Validator "([^"]*)" failed for path (\w+)$/);
      - field = parsed[2].replace(/([a-z])([A-Z])/g, '$1 $2').toLowerCase().replace(/^([a-z])/, function(m, $1) { return $1.toUpperCase(); });
      - message = parsed[1]
      li #{field} #{message}
