- title('2012')
:markdown
  # When?

  November 10-11, 2012

  # Now what?

  [NodeConf 2012 Slides](/nodeconf)

  P.S. This is a massively-multiplayer website: click around and chat with
  other visitors. Click on the lamp post for easier chatting.
