- title('2012')

section.when
  h1: a( href="/tell-me-a-story" ) NodeConf 2012 Slides
  //h3
    | node.js knockout 2012 will be
    .dates
      a( href="http://bit.ly/MoVN39" )
        time.start( datetime="2012-11-10T00:00:00Z" ) Nov 10
      |  - 
      a( href="http://bit.ly/MoW3Pp" )
        time.end( datetime="2012-11-12T00:00:00Z" ) Nov 12, 2012
  //#countdown from now

  :markdown
    Node.js Knockout is a 48-hour hackathon featuring node.js.

    P.S. This is a massively-multiplayer website: click around and chat with
    other visitors. Click on the lamp post for easier chatting.
