- title('Winners')
:markdown
  ## Node.js Knockout Winners!

  After much delay, we're happy to announce the winners! Be sure to also check
  out all of the [entries](/entries) and [teams](/teams).

  # Overall Solo
  <a href="http://observer.no.de/"><img src="http://pinkyurl.com/i?url=http%3A%2F%2Fobserver.no.de%2F&resize=240x148&out-format=png"></a>
  ## [Observer](http://observer.no.de/)
  #### by [Speedo](/teams/speedo)

  Observer allows you to watch your application users in real time, and
  see in your browser what they are doing, all the events are duplicated
  and emulated.

  If a user clicks on a button that triggers an alert or a other
  javascript interaction, the same interaction will happen on your page.
  You can see what the users are typing or what keyboard shortcuts they
  are using.

  If you want to interact with the following user you can press the `chat`
  button at the top of the menu bar to start a anonymous chat with them.

  Don't have time to follow all your users? No problem, all session are
  stored in our database so they can be re-played at a later point of
  time.

  # Overall Team
  <a href="http://somethingcoded.nko2.nodeknockout.com/"><img src="http://pinkyurl.com/i?url=http%3A%2F%2Fsomethingcoded.nko2.nodeknockout.com%2F&resize=240x148&out-format=png"/></a>
  ## [Eight Bit Beats](http://somethingcoded.nko2.nodeknockout.com/)
  #### by [somethingCoded](/teams/somethingcoded)

  A collaborative, social beat and melody sequencer.

  Drop in, state your name, and start a new track to jam with other users.  Perhaps try and re-create your favorite video game tunes:

  <http://youtu.be/QmtB9o4HBQU>

  # Popularity
  <a href="http://driv.in/"><img src="http://pinkyurl.com/i?url=http%3A%2F%2Fgo-horse-brazil.nko2.nodeknockout.com%2F&resize=240x148&out-format=png"/></a>
  ## [Driv.in](http://driv.in/)
  #### by [Go Horse Brazil](/teams/go-horse-brazil)

  Driv.in is an YouTube battle party in a virtual drive in. You can create
  rooms to share with your friends and watch videos together in real time.
  When your friends enter in the middle of the video, they will be
  positioning at the point that everybody is viewing, so everybody will be
  at the same video time. When the current video ends, the next video will
  be played automatically.

  This app is great for being a VJ for a day: create and share a playlist
  of your favorite artist from YouTube. You and your friends can also
  suggest new videos, throw tomatoes at the bad ones and chat along!

  # Utility / Fun
  <a href="http://doodle.no.de/"><img src="http://pinkyurl.com/i?url=http%3A%2F%2Fdoodle.no.de%2F&resize=240x148&out-format=png"/></a>
  ## [Doodle or Die](http://doodle.no.de/)
  #### by [opower](/teams/opower)

  The game of telephone with drawings!

  * Play multiple rounds.
  * *Scroll down* to see the history.
  * Keep playing to see what happens to your drawings and phrases. 
  * Play enough and get to start new chains.

  # Design
  <a href="http://acronode.com/"><img src="http://pinkyurl.com/i?url=http%3A%2F%2Facronode.com%2F&resize=240x148&out-format=png"/></a>
  ## <a href="http://acronode.com/">ACROnode.com</a>
  #### by <a href="http://nodeknockout.com/teams/rochester-js">rochester-js</a>

  **ACROnode** is a wordplay game where players are given a random acronym
  and are challenged to create
  "[backronyms](http://en.wikipedia.org/wiki/Backronym)."  For example,
  when presented with **NBAM** you might play **N**arwhal **B**acons
  **A**t **M**idnight.

  Loosely based on the original
  [Acrophobia IRC game](http://en.wikipedia.org/wiki/Acrophobia_\(game\)),
  players score each other's backronyms and are awarded points based on
  the number of votes, for being the first to submit your backronym, etc.

  # Innovation
  <a href="http://minimason.no.de/"><img src="http://pinkyurl.com/i?url=http%3A%2F%2Fminimason.no.de%2F&resize=240x148&out-format=png"/></a>
  ## [GPU Lava](http://minimason.no.de/)
  #### by [Minimason](/teams/minimason)

  Blue Lava is a small demo showing the node-webgl library written during
  the first half of Node.js Knockout.

  The entry is not the visualization itself, but the library that allows
  it to run on node directly without the help of a browser.  The library
  specifically targets the HP TouchPad, but it runs on other platforms as
  well.

  The visualization is a fairly simple OpenGL scene with fairly complex
  GLSL shaders that push most the computation on the GPU.  The animation
  is 100% procedural and rendered in real-time.

  You can see a demo here: <http://creationix.com/minimason.m4v>

  Using this library, a developer can create very advanced video games for
  just about any modern platform and use node to write it.

  The library can be found at <https://github.com/creationix/node-webgl>
  and will be licensed under MIT.  It's published to npm under `webgl`.
  Patches are welcome after the contest to keep this alive and well.

  # Completeness
  <a href="http://joshfire.nko2.nodeknockout.com/"><img src="http://pinkyurl.com/i?url=http%3A%2F%2Fjoshfire.nko2.nodeknockout.com%2F&resize=240x148&out-format=png"/></a>
  ## [Chess@home](http://joshfire.nko2.nodeknockout.com/)
  #### by [Joshfire](/teams/joshfire)

  Let"s break the [Guinness world record for largest chess AI](http://www.guinnessworldrecords.com/records-3000/largest-networked-chess-computer/) !

  Do you think you're good enough to beat the cloud? Give it a try.

  Not a Chess GrandMaster? Join the machine uprising! To be a part of the
  compute grid, just visit Chess@home or any page with a &lt;script&gt; we
  provide (include it in your blog!). People with a few idle CPUs can also
  launch a worker with npm.

  (We plan to invite an actual GrandMaster along with a Guinness official
  in a few weeks and coordinate online so that we all break the current
  2070-world record and make Node.js a part of history! ;-) Follow
  [@chess_at_home](http://twitter.com/chess_at_home) to be kept updated).

  # Congratulations!

  Congratulations to
  [all who participated](http://nodeknockout.com/entries). There were a
  ton of great entries this year!

  We will be following up with winners directly over email shortly.
