:markdown
  Want to be listed on this page? [Become a sponsor](/sponsors#jobs).

  # Jobs

  <a name="joyent"></a>
  **[Joyent](http://joyent.com)** is the high-performance cloud infrastructure
  company, offering the only solution specifically built to power real-time
  web and mobile applications.

  * [Web Developer](http://joyent.com/company/careers/web-developer) &mdash; [San Francisco][joyent-sf], [Vancouver][joyent-vr]
  * [Product Manager, Big Data](http://joyent.com/company/careers/product-manager-big-data) &mdash; [San Francisco][joyent-sf]
  * [Product Manager, Network Technologies](http://joyent.com/company/careers/product-manager-network-technologies) &mdash; [San Francisco][joyent-sf]
  * [IT Manager](http://joyent.com/company/careers/it-manager) &mdash; [San Francisco][joyent-sf]
  * [Software Quality Lead](http://joyent.com/company/careers/software-quality-lead) &mdash; [San Francisco][joyent-sf]

  [joyent-sf]: http://maps.google.com/maps?q=1+embarcadero+center,+sf,+ca
  [joyent-vr]: http://maps.google.com/maps?q=375+water+st+vancouver,bc+v6b+5c6

  <a name="nodejitsu"></a>
  **[Nodejitsu](http://nodejitsu.com)** is the simplest, most reliable and
  intelligent Node.js hosting platform you can get. _All positions are remote.
  We believe that people should work from where they are comfortable and
  content._

  * [Systems Engineer](http://nodejitsu.com/jobs/systems-engineer.html)
  * [Support Engineer](http://nodejitsu.com/jobs/support-engineer.html)
  * [Pre-Sales Engineer](http://nodejitsu.com/jobs/pre-sales-engineer.html)
  * [Open-Source Intern](http://nodejitsu.com/jobs/open-source-intern.html)
  * [Design / UX Intern](http://nodejitsu.com/jobs/design-ux-intern.html)
  * [Tools Intern](http://nodejitsu.com/jobs/tools-intern.html)

  <a name="bislr"></a>
  **[Bislr](http://www.bislr.com/)** is making starting a business online
  easier, faster, inexpensive and social by building a platform like Wordpress
  that is as social as Facebook.

    * [Senior Developer](http://www.bislr.com/node) &mdash; [San Francisco][bislr-sf]

  [bislr-sf]: http://maps.google.com?q=177+post,+sf,+ca

  <a name="ensighten"></a>
  **[Ensighten](http://www.ensighten.com)** is the world&rsquo;s leading
  enterprise JavaScript development and deployment platform for website tag
  management.

  * [Full-Stack JavaScript Developer](http://jobs.jsninja.com/a/jbb/job-details/769138) &mdash; [Silicon Valley][ensighten-sv]

  [ensighten-sv]: http://maps.google.com?q=cupertino,+ca

  <a name="nomic"></a>
  **[Nomic](http://www.nomic.com/)** is lighting up the economic graph,
  creating the best way to connect in the real world.

    * [Full-Stack Engineer](http://www.nomic.com/careers/index.html?tab=fullstack) &mdash; [San Francisco][nomic-sf]

  [nomic-sf]: http://goo.gl/maps/qyuVH

  <a name="sequoia"></a>
  **[Sequoia Capital](http://www.sequoiacap.com/)** the entrepreneurs behind
  the entrepreneurs.

    * [Full-Stack Developer, Contract or Full-Time](mailto:dyer@sequoiacap.com) &mdash; [Menlo Park][sequoia-mp]

  [sequoia-mp]: https://maps.google.com/?q=3000+sand+hill,+menlo+park,+ca

  <a name="trifacta"></a>
  **[Trifacta](http://trifacta.com)** is building the world’s most powerful
  solution for managing and manipulating data via insights that cut across
  fields such as human-computer interaction, scalable data management and
  machine learning.

  * [Full-Stack JavaScript Developer](http://trifacta.com/jobs) &mdash; [San Francisco][trifacta-sf]

  [trifacta-sf]: http://maps.google.com?q=290+king,+sf,+ca

  <a name="voxer"></a>
  **[Voxer](http://voxer.com)** is one of the fastest growing voice
  applications in the world. What we've built is already an important part of
  the daily lives of millions of people. We're making voice communication
  faster, more efficient, and more social.

    * [Hadoop Software Engineer](http://voxer.theresumator.com/apply/XkSYAk/Hadoop-Software-Engineer.html) &mdash; [San Francisco][voxer-sf]
    * [HBase Data Engineer](http://voxer.theresumator.com/apply/Pp1H9J/HBase-Data-Engineer.html) &mdash; [San Francisco][voxer-sf]
    * [Android Engineer](http://voxer.theresumator.com/apply/Y5fycM/Android-Engineer.html) &mdash; [San Francisco][voxer-sf]
    * [iOS Engineer](http://voxer.theresumator.com/apply/tTtIFK/IOS-Engineer.html) &mdash; [San Francisco][voxer-sf]
    * [Mobile Product Manager](http://voxer.theresumator.com/apply/SsofZr/Mobile-Product-Manager.html) &mdash; [San Francisco][voxer-sf]
    * [Product Design Lead](http://voxer.theresumator.com/apply/LtydQ6/Product-Design-Lead.html) &mdash; [San Francisco][voxer-sf]
    * [Node.js / Infrastructure Engineer](http://voxer.theresumator.com/apply/zfpjQ9/Nodejs-Infrastructure-Engineer.html) &mdash; [San Francisco][voxer-sf]

  [voxer-sf]: https://maps.google.com/maps?q=760+market+street+san+francisco&hl=en&ll=37.786216,-122.405484&spn=0.010429,0.019526&sll=37.0625,-95.677068&sspn=42.631141,79.980469&hnear=760+Market+St,+San+Francisco,+California+94102&t=m&z=16
