:markdown
  Want to be listed on this page? [Become a sponsor](/sponsors#jobs).

  # Jobs

  <a name="joyent"></a>
  **[Joyent](http://joyent.com)** is the high-performance cloud infrastructure
  company, offering the only solution specifically built to power real-time
  web and mobile applications.

  * [Web Developer](http://joyent.com/company/careers/web-developer)
  * [Product Manager, Big Data](http://joyent.com/company/careers/product-manager-big-data)
  * [Product Manager, Network Technologies](http://joyent.com/company/careers/product-manager-network-technologies)
  * [IT Manager](http://joyent.com/company/careers/it-manager)
  * [Software Quality Lead](http://joyent.com/company/careers/software-quality-lead)

  <a name="nodejitsu"></a>
  **[Nodejitsu](http://nodejitsu.com)** is the simplest, most reliable and
  intelligent Node.js hosting platform you can get. _All positions are remote.
  We believe that people should work from where they are comfortable and
  content._

  * [Systems Engineer](http://nodejitsu.com/jobs/systems-engineer.html)
  * [Support Engineer](http://nodejitsu.com/jobs/support-engineer.html)
  * [Pre-Sales Engineer](http://nodejitsu.com/jobs/pre-sales-engineer.html)
  * [Open-Source Intern](http://nodejitsu.com/jobs/open-source-intern.html)
  * [Design / UX Intern](http://nodejitsu.com/jobs/design-ux-intern.html)
  * [Tools Intern](http://nodejitsu.com/jobs/tools-intern.html)

  <a name="bislr"></a>
  **[Bislr](http://www.bislr.com/)** is making starting a business online
  easier, faster, inexpensive and social by building a platform like Wordpress
  that is as social as Facebook.

    * [Senior Developer](http://www.bislr.com/node) &mdash; [San Francisco][bislr-sf]

  [bislr-sf]: http://maps.google.com?q=177+post,+sf,+ca

  <a name="sequoia"></a>
  **[Sequoia Capital](http://www.sequoiacap.com/)** the entrepreneurs behind
  the entrepreneurs.

    * [Full-Stack Developer, Contract or Full-Time](mailto:dyer@sequoiacap.com) &mdash; [Menlo Park][sequoia-mp]

  [sequoia-mp]: https://maps.google.com/?q=3000+sand+hill,+menlo+park,+ca

  <a name="nomic"></a>
  **[nomic](http://www.nomic.com/)** Nomic is the best way for people who work
  in local independent businesses to connect online, share know-how, and
  privately communicate within their organizations.

    * [Full-Stack Engineer](http://www.nomic.com/careers/index.html?tab=fullstack) &mdash; [San Francisco][nomic-sf]

  [nomic-sf]: https://maps.google.com/?q=san+francisco,+ca
