h1 Jobs

:markdown
  <a name="bislr"></a>
  **[Bislr](http://www.bislr.com/)** - We're making starting a
  business online easier, faster, inexpensive and social by building a
  platform like Wordpress that is as social as Facebook.

    * [Senior Developer](www.bislr.com/node) &mdash; [San Francisco][bislr-sf]

  [bislr-sf]: http://maps.google.com?q=177+post,+sf,+ca

