:markdown
  Want to be listed on this page? [Become a sponsor](/sponsors#jobs).

  # Jobs

  <a name="joyent"></a>
  **[Joyent](http://joyent.com)** is the high-performance cloud infrastructure
  company, offering the only solution specifically built to power real-time
  web and mobile applications.

  * [Web Developer](http://joyent.com/company/careers/web-developer)
  * [Lead Performance Engineer](http://joyent.com/company/careers/lead-performance-engineer)
  * [Product Manager, Big Data](http://joyent.com/company/careers/product-manager-big-data)
  * [Product Manager, Network Technologies](http://joyent.com/company/careers/product-manager-network-technologies)
  * [IT Manager](http://joyent.com/company/careers/it-manager)
  * [Software Quality Lead](http://joyent.com/company/careers/software-quality-lead)

  <a name="nodejitsu"></a>
  **[Nodejitsu](http://nodejitsu.com)** is the simplest, most reliable and
  intelligent Node.js hosting platform you can get.

  * [Systems Engineer](http://nodejitsu.com/jobs/systems-engineer.html) &mdash; [New York][jitsu-ny], [San Francisco][jitsu-sf], [Austin][jitsu-tx]
  * [Support Engineer](http://nodejitsu.com/jobs/support-engineer.html) &mdash; [New York][jitsu-ny], [San Francisco][jitsu-sf], or remote
  * [Pre-Sales Engineer](http://nodejitsu.com/jobs/pre-sales-engineer.html) &mdash; [New York][jitsu-ny], [San Francisco][jitsu-sf]
  * [Open-Source Intern](http://nodejitsu.com/jobs/open-source-intern.html) &mdash; [New York][jitsu-ny], [San Francisco][jitsu-sf], or remote
  * [Design / UX Intern](http://nodejitsu.com/jobs/design-ux-intern.html) &mdash; [New York][jitsu-ny], or remote
  * [Tools Intern](http://nodejitsu.com/jobs/tools-intern.html) &mdash; [New York][jitsu-ny]

  [jitsu-ny]: http://maps.google.com?q=ny,+ny
  [jitsu-sf]: http://maps.google.com?q=sf,+ca
  [jitsu-tx]: http://maps.google.com?q=austin,+tx

  <a name="bislr"></a>
  **[Bislr](http://www.bislr.com/)** is making starting a business online
  easier, faster, inexpensive and social by building a platform like Wordpress
  that is as social as Facebook.

    * [Senior Developer](http://www.bislr.com/node) &mdash; [San Francisco][bislr-sf]

  [bislr-sf]: http://maps.google.com?q=177+post,+sf,+ca

