- title('Locations')

:markdown
  # Locations

  _Contestants may compete "virtually" from anywhere in the world_, but
  [Joyent] will be hosting Knockout HQ in San Francisco and several groups
  worldwide have graciously organized space for contestants to work from, meet
  up, and have an awesome time.

  ## San Francisco

  [Joyent] will be providing food, drinks, and camaraderie for participants.

  [Joyent]: http://www.joyent.com/
  [1]: https://github.com/ry
  [2]: https://github.com/isaacs

  <p id="map">
    <iframe width="576" height="356" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=1+Embarcadero+Center,+9th+Floor,+San+Francisco,+CA(Knockout+HQ+@+Joyent)&amp;output=embed"></iframe>
  </p>

  ## Other Locations

  Not in San Francisco? Find node.js-loving enthusiasts worldwide. Want to host
  a satellite location? [Send us a pull request] or [let us know].

  [Send us a pull request]: https://github.com/nko3/website/blob/master/views/index/locations.jade
  [let us know]: mailto:all@nodeknockout.com

ul.locations

  li
    h4#paris Paris, France
    != address('100 Rue de la folie mericourt, Paris, France')
    :markdown
      ### [Joshfire]
      ##### 100 Rue de la folie mericourt, Paris, France

      [Joshfire] will be hosting teams and onlookers, then party to celebrate Node and French house music.

      [Joshfire]: http://www.joshfire.com/

  // li
    h4#nyc New York
    != address('902 Broadway 4th Floor, New York, NY, 10016')
    :markdown
      ### [nodejitsu]<br/> [@ General Assembly]
      ##### 902 Broadway, 4th Floor<br/> New York, NY, 10016

      Beverages and snacks on hand as well as team Nodejitsu
      and a few other tech startups to help you out with their
      APIs and tools. [Check out all the details][1]. Contact [@saadiq].

      [nodejitsu]: http://www.nodejitsu.com/#/home
      [@ General Assembly]: http://www.generalassemb.ly/
      [1]: http://nko.nodejitsu.com/
      [@saadiq]: https://twitter.com/saadiq
