- title('Locations')

:markdown
  # Locations

  _Contestants may compete "virtually" from anywhere in the world_, but
  [Joyent] will be hosting Knockout HQ in San Francisco and several groups
  worldwide have graciously organized space for contestants to work from, meet
  up, and have an awesome time.

  ## San Francisco

  [Joyent] will be providing food, drinks, and camaraderie for participants.

  [Joyent]: http://www.joyent.com/
  [1]: https://github.com/ry
  [2]: https://github.com/isaacs

  <p id="map">
    <iframe width="576" height="356" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=1+Embarcadero+Center,+9th+Floor,+San+Francisco,+CA(Knockout+HQ+@+Joyent)&amp;output=embed"></iframe>
  </p>

  ## Other Locations

  Not in San Francisco? Find node.js-loving enthusiasts worldwide. Want to host
  a satellite location? [Send us a pull request] or [let us know].

  [Send us a pull request]: https://github.com/nko3/website/blob/master/views/index/locations.jade
  [let us know]: mailto:all@nodeknockout.com

ul.locations
  li
    h4#paris Paris, France
    != address('100 Rue de la folie mericourt, Paris, France')
    :markdown
      ### [Joshfire]
      ##### 100 Rue de la folie mericourt, Paris, France

      [Joshfire] will be hosting teams and onlookers, then party to celebrate Node and French house music.

      [Joshfire]: http://www.joshfire.com/

  li
    h4#warsaw Warsaw, Poland
    != address('Pokrzywnicka 3A, Warsaw, Poland')
    :markdown
      ### [Node.js Weekend]
      ##### Pokrzywnicka 3A, Warsaw, Poland

      [Node.js Weekend] will be the host for the Warsaw event - come and enjoy the weekend with free beer and pizza. Contact [@end33r] if you have any questions.

      [Node.js Weekend]: http://nodejsweekend.end3r.com/
      [@end33r]: http://twitter.com/end33r

  li
    h4#tokyo Tokyo, Japan
    != address('東京都中央区日本橋浜町２丁目３１−１', 'maps.google.co.jp')
    :markdown
      ### [Node.js日本ユーザグループ] and [ドワンゴ]
      ##### 東京都中央区日本橋浜町2-31-1 浜町センタービル10F

      Everybody welcome during whole knockout with free drinks. Contact [@meso].

      [Node.js日本ユーザグループ]: http://nodejs.jp/
      [ドワンゴ]: http://info.dwango.co.jp/
      [@meso]: http://twitter.com/meso

  li
    h4#Taipei Taipei, Taiwan
    != address('台北市南港區研究院路二段128號', 'maps.google.com.tw')
    :markdown
      ### Node KO 台灣黑客頌 2012
      ##### 台北市南港區研究院路二段128號

      歡迎各位 Node.js 開發者一起參與，共同奮戰 48 小時，活動時間台北時間，11/10  08:00 - 11/11 20:00
      

      [Node.js 台灣社群]: http://nodejs.tw/
      [Node KO 台灣活動網站]: http://nodeknockout.nodejs.tw/
      [@NodejsTaiwan]: http://twitter.com/NodejsTaiwan

  // li
    h4#nyc New York
    != address('902 Broadway 4th Floor, New York, NY, 10016')
    :markdown
      ### [nodejitsu]<br/> [@ General Assembly]
      ##### 902 Broadway, 4th Floor<br/> New York, NY, 10016

      Beverages and snacks on hand as well as team Nodejitsu
      and a few other tech startups to help you out with their
      APIs and tools. [Check out all the details][1]. Contact [@saadiq].

      [nodejitsu]: http://www.nodejitsu.com/#/home
      [@ General Assembly]: http://www.generalassemb.ly/
      [1]: http://nko.nodejitsu.com/
      [@saadiq]: https://twitter.com/saadiq
