- title('Prizes')
:markdown
  Prizes
  ------

  The following prizes have been generously provided by our sponsors. Let us
  know if you're [interested in sponsoring](/sponsors#interested).

  Prizes will be awarded based on the methodology described on the
  [scoring page](/scoring).

  ### <span class="scary">These prizes are preliminary.</span>

  Team Winner
  ===========
  _Team with the best overall score_

  <ul class="images">
  </ul>

  - [GitHub Silver plan][GitHub-plan] (1 year)

  ## Solo Winner

  - [GitHub Small plan][GitHub-plan] (1 year)

  ## Innovation

  - [GitHub Bronze plan][GitHub-plan] (1 year)

  ## Design

  TBD

  ## Utility / Fun

  TBD

  ## Completeness

  TBD

  ## Popularity

  TBD

  [GitHub-plan]: https://github.com/plans
