- title('Prizes')
:markdown
  Prizes
  ======

  The following prizes have been generously provided by our sponsors. Let us
  know if you're [interested in sponsoring](/sponsors#interested).

  Prizes will be awarded based on the methodology described on the
  [scoring page](/scoring).

  ### <span class="scary">These prizes are preliminary.</span>


  Team Winner
  -----------
  _Team with the best overall score_

  <ul class="images">
    <li><img src="/images/prizes/github.jpg"></li>
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/dropbox.jpg"></li>
    <li><img src="/images/prizes/mongolab.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - [GitHub Silver plan][GitHub plan] (1 year) — [GitHub]
  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
  - [50GB Dropbox storage][Dropbox storage] — [Dropbox] <i class="icon-users" title="one per team member"></i>
  - [MongoLab Dedicated Mini] (6 months) — [MongoLab]
  - Overall achievement badges — [coderwall] <i class="icon-users" title="one per team member"></i>


  Solo Winner
  -----------
  _One-person team with the best overall score_

  <ul class="images">
    <li><img src="/images/prizes/github.jpg"></li>
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/dropbox.jpg"></li>
    <li><img src="/images/prizes/nodeconf.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - [GitHub Small plan][GitHub plan] — [GitHub] (1 year)
  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime]
  - [50GB Dropbox storage][Dropbox storage] — [Dropbox]
  - 2013 NodeConf ticket — [NodeConf]
  - Solo achievement badge — [coderwall]


  Innovation
  ----------
  _Team with the highest innovation score_

  <ul class="images">
    <li><img src="/images/prizes/github.jpg"></li>
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/mongolab.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - [GitHub Bronze plan][GitHub plan] (1 year) — [GitHub]
  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
  - [MongoLab Dedicated Mini] (6 months) — [MongoLab]
  - Innovation achievement badges — [coderwall] <i class="icon-users" title="one per team member"></i>


  Design
  ------
  _Team with the highest design score_

  <ul class="images">
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
  - Design achievement badges — [coderwall] <i class="icon-users" title="one per team member"></i>


  Utility / Fun
  -------------
  _Team with the highest utility / fun score_

  <ul class="images">
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
  - Utility / fun achievement badges — [coderwall] <i class="icon-users" title="one per team member"></i>


  Completeness
  ------------
  _Team with the highest completeness score_

  <ul class="images">
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
  - Completeness achievement badges — [coderwall] <i class="icon-users" title="one per team member"></i>


  Popularity
  ----------
  _Team with the most votes_

  <ul class="images">
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
  - Popularity achievement badges — [coderwall] <i class="icon-users" title="one per team member"></i>

  [GitHub plan]: https://github.com/plans
  [GitHub]: https://github.com/
  [Nodetime]: https://nodetime.com/
  [Nodetime pro5]: https://nodetime.com/pro
  [Dropbox]: https://www.dropbox.com
  [Dropbox storage]: https://www.dropbox.com/pricing
  [MongoLab]: https://mongolab.com/
  [MongoLab Dedicated Mini]: https://mongolab.com/about/products/#/pricing
  [NodeConf]: http://www.nodeconf.com/
  [coderwall]: http://coderwall.com/
