- title('Prizes')
:markdown
  Prizes
  ======

  The following prizes have been generously provided by our sponsors. Let us
  know if you're [interested in sponsoring](/sponsors#interested).

  Prizes will be awarded based on the methodology described on the
  [scoring page](/scoring).

  ### <span class="scary">These prizes are preliminary.</span>


  Team Winner
  -----------
  _Team with the best overall score_

  <ul class="images">
    <li><img src="/images/prizes/github.jpg"></li>
  </ul>

  - [GitHub Silver plan][GitHub-plan] (1 year)


  Solo Winner
  -----------
  _One-person team with the best overall score_

  <ul class="images">
    <li><img src="/images/prizes/github.jpg"></li>
  </ul>

  - [GitHub Small plan][GitHub-plan] (1 year)


  Innovation
  ----------
  _Team with the highest innovation score_

  <ul class="images">
    <li><img src="/images/prizes/github.jpg"></li>
  </ul>

  - [GitHub Bronze plan][GitHub-plan] (1 year)


  Design
  ------
  _Team with the highest design score_

  <ul class="images"></ul>

  TBD


  Utility / Fun
  -------------
  _Team with the highest utility / fun score_

  <ul class="images"></ul>

  TBD


  Completeness
  ------------
  _Team with the highest completeness score_

  <ul class="images"></ul>

  TBD


  Popularity
  ----------
  _Team with the most votes_

  <ul class="images"></ul>

  TBD

  [GitHub-plan]: https://github.com/plans
