- title('Prizes')
:markdown
  Prizes
  ======

  The following prizes have been generously provided by our sponsors. Let us
  know if you're [interested in sponsoring](/sponsors#interested).

  Prizes will be awarded based on the methodology described on the
  [scoring page](/scoring).

  ### <span class="scary">These prizes are preliminary.</span>


  Team Winner
  -----------
  _Team with the best overall score_

  <ul class="images">
    <li><img src="/images/prizes/gloves.jpg"></li>
    <li><img src="/images/prizes/trunks.jpg"></li>
    <li><img src="/images/prizes/joyent.jpg"></li>
    <li><img src="/images/prizes/dropbox.jpg"></li>
    <li><img src="/images/prizes/github.jpg"></li>
    <li><img src="/images/prizes/heroku.jpg"></li>
    <li><img src="/images/prizes/mongohq.jpg"></li>
    <li><img src="/images/prizes/mongolab.jpg"></li>
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - Node.js Knockout Boxing Gloves & Trunks
  - [Joyent Cloud Hosting Credits][joyent hosting] ($500) — [Joyent]
  - [50GB Dropbox storage][Dropbox storage] — [Dropbox] <i class="icon-users" title="one per team member"></i>
  - [GitHub Silver plan][GitHub plan] (1 year) — [GitHub]
  - [Heroku credits] ($600) — [Heroku]
  - [MongoHQ SSD Plan][mongohq plans] (1 year) — [MongoHQ]
  - [MongoLab dedicated replica-set w/2GB RAM][mongolab plans] (6 months) — [MongoLab]
  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
  - [Overall achievement badges][coderwall badges] — [coderwall] <i class="icon-users" title="one per team member"></i>


  Solo Winner
  -----------
  _One-person team with the best overall score_

  <ul class="images">
    <li><img src="/images/prizes/gloves.jpg"></li>
    <li><img src="/images/prizes/trunks.jpg"></li>
    <li><img src="/images/prizes/joyent.jpg"></li>
    <li><img src="/images/prizes/dropbox.jpg"></li>
    <li><img src="/images/prizes/github.jpg"></li>
    <li><img src="/images/prizes/nodeconf.jpg"></li>
    <li><img src="/images/prizes/heroku.jpg"></li>
    <li><img src="/images/prizes/mongohq.jpg"></li>
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - Node.js Knockout Boxing Gloves & Trunks
  - [Joyent Cloud Hosting Credits][joyent hosting] ($250) — [Joyent]
  - [50GB Dropbox storage][Dropbox storage] — [Dropbox]
  - [GitHub Small plan][GitHub plan] — [GitHub] (1 year)
  - 2013 NodeConf ticket — [NodeConf]
  - [Heroku credits] ($300) — [Heroku]
  - [MongoHQ SSD Plan][mongohq plans] (6 months) — [MongoHQ]
  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime]
  - [Solo achievement badge][coderwall badges] — [coderwall]


  Innovation
  ----------
  _Team with the highest innovation score_

  <ul class="images">
    <li><img src="/images/prizes/trunks.jpg"></li>
    <li><img src="/images/prizes/joyent.jpg"></li>
    <li><img src="/images/prizes/github.jpg"></li>
    <li><img src="/images/prizes/heroku.jpg"></li>
    <li><img src="/images/prizes/mongolab.jpg"></li>
    <li><img src="/images/prizes/mongohq.jpg"></li>
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - Node.js Knockout Boxing Trunks
  - [Joyent Cloud Hosting Credits][joyent hosting] ($125) — [Joyent]
  - [GitHub Bronze plan][GitHub plan] (1 year) — [GitHub]
  - [Heroku credits] ($300) — [Heroku]
  - [MongoLab dedicated replica-set w/2GB RAM][mongolab plans] (6 months) — [MongoLab]
  - [MongoHQ credits][mongohq plans] ($100) — [MongoHQ]
  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
  - [Innovation achievement badges][coderwall badges] — [coderwall] <i class="icon-users" title="one per team member"></i>


  Design
  ------
  _Team with the highest design score_

  <ul class="images">
    <li><img src="/images/prizes/trunks.jpg"></li>
    <li><img src="/images/prizes/joyent.jpg"></li>
    <li><img src="/images/prizes/heroku.jpg"></li>
    <li><img src="/images/prizes/mongohq.jpg"></li>
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - Node.js Knockout Boxing Trunks
  - [Joyent Cloud Hosting Credits][joyent hosting] ($125) — [Joyent]
  - [Heroku credits] ($300) — [Heroku]
  - [MongoHQ credits][mongohq plans] ($100) — [MongoHQ]
  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
  - [Design achievement badges][coderwall badges] — [coderwall] <i class="icon-users" title="one per team member"></i>


  Utility / Fun
  -------------
  _Team with the highest utility / fun score_

  <ul class="images">
    <li><img src="/images/prizes/trunks.jpg"></li>
    <li><img src="/images/prizes/joyent.jpg"></li>
    <li><img src="/images/prizes/heroku.jpg"></li>
    <li><img src="/images/prizes/mongohq.jpg"></li>
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - Node.js Knockout Boxing Trunks
  - [Joyent Cloud Hosting Credits][joyent hosting] ($125) — [Joyent]
  - [Heroku credits] ($300) — [Heroku]
  - [MongoHQ credits][mongohq plans] ($100) — [MongoHQ]
  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
  - [Utility / fun achievement badges][coderwall badges] — [coderwall] <i class="icon-users" title="one per team member"></i>


  Completeness
  ------------
  _Team with the highest completeness score_

  <ul class="images">
    <li><img src="/images/prizes/trunks.jpg"></li>
    <li><img src="/images/prizes/joyent.jpg"></li>
    <li><img src="/images/prizes/heroku.jpg"></li>
    <li><img src="/images/prizes/mongohq.jpg"></li>
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - Node.js Knockout Boxing Trunks
  - [Joyent Cloud Hosting Credits][joyent hosting] ($125) — [Joyent]
  - [Heroku credits] ($300) — [Heroku]
  - [MongoHQ credits][mongohq plans] ($100) — [MongoHQ]
  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
  - [Completeness achievement badges][coderwall badges] — [coderwall] <i class="icon-users" title="one per team member"></i>


  Popularity
  ----------
  _Team with the most votes_

  <ul class="images">
    <li><img src="/images/prizes/trunks.jpg"></li>
    <li><img src="/images/prizes/joyent.jpg"></li>
    <li><img src="/images/prizes/heroku.jpg"></li>
    <li><img src="/images/prizes/mongohq.jpg"></li>
    <li><img src="/images/prizes/nodetime.jpg"></li>
    <li><img src="/images/prizes/coderwall.jpg"></li>
  </ul>

  - Node.js Knockout Boxing Trunks
  - [Joyent Cloud Hosting Credits][joyent hosting] ($125) — [Joyent]
  - [Heroku credits] ($300) — [Heroku]
  - [MongoHQ credits][mongohq plans] ($100) — [MongoHQ]
  - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
  - [Popularity achievement badges][coderwall badges] — [coderwall] <i class="icon-users" title="one per team member"></i>

  [GitHub plan]: https://github.com/plans
  [GitHub]: https://github.com/
  [Nodetime]: https://nodetime.com/
  [Nodetime pro5]: https://nodetime.com/pro
  [Dropbox]: https://www.dropbox.com
  [Dropbox storage]: https://www.dropbox.com/pricing
  [MongoLab]: https://mongolab.com/
  [mongolab plans]: https://mongolab.com/about/products/#/pricing
  [NodeConf]: http://www.nodeconf.com/
  [coderwall badges]: https://coderwall.com/p/akwn2q
  [coderwall]: http://coderwall.com/
  [Heroku credits]: http://www.heroku.com/pricing
  [Heroku]: http://www.heroku.com/
  [mongohq plans]: https://www.mongohq.com/pricing
  [MongoHQ]: https://www.mongohq.com/home
  [joyent hosting]: http://joyent.com/products/joyent-cloud/pricing
  [Joyent]: http://joyent.com/
