- title('Prizes')
:markdown
  # Prizes

  The following prizes have been generously provided by our sponsors. Let us
  know if you're [interested in sponsoring](/sponsors#interested).

  ### These prizes are preliminary.

  ## Team Winner

  - [GitHub Silver plan][GitHub-plan] (1 year)

  ## Solo Winner

  - [GitHub Small plan][GitHub-plan] (1 year)

  ## Innovation

  - [GitHub Bronze plan][GitHub-plan] (1 year)

  ## Utility / Fun

  ## Design

  ## Completeness

  ## Popularity

  [GitHub-plan]: https://github.com/plans
