:markdown
  Here are some useful tutorials and services that we recommend for the
  competition.

  # <a name="tutorials"></a>Tutorials

  1. [How to install node & npm](http://blog.nodeknockout.com/post/33857791331/how-to-install-node-npm)
  2. [Managing dependencies with npm](http://blog.nodeknockout.com/post/33907937140/introduction-to-npm)
  3. [Writing a web app with Express](http://blog.nodeknockout.com/post/34180474119/getting-started-with-express)
  4. [Using Socket.IO for real-time messaging](http://blog.nodeknockout.com/post/34243127010/knocking-out-socket-io)
  5. [Persisting data with MongoDB & Mongoose](http://blog.nodeknockout.com/post/34302423628/getting-started-with-mongoose)
  6. [Creating a RESTful API with hapi](http://blog.nodeknockout.com/post/34571027029/making-an-api-happy-with-hapi)
  7. [Sending email with Nodemailer](http://blog.nodeknockout.com/post/34641712180/sending-email-from-node-js)
  8. [Using restify and DTrace for performant RESTful web services ](http://blog.nodeknockout.com/post/34710903021/restify)
  9. [Implementing OAuth login with Passport](http://blog.nodeknockout.com/post/34765538605/getting-started-with-passport)
  10. [Debugging with Node Inspector](http://blog.nodeknockout.com/post/34843655876/debugging-with-node-inspector)

  # <a name="services"></a>Services

:markdown
  ## <a name="ratchetio"></a>Ratchet.io
  
  [Ratchet.io](https://ratchet.io) is real-time execption tracking on steroids. 
  It has the basics covered&mdash;de-duplication, alerts, context, graphs, a 
  solid backend&mdash;and adds a dashboard, search, replays, Github integration,
  an API, and more. Set it up in 5 minutes.

if !user
  p
    a(href="/login") Sign in
    |  for the super-secret free signup link.
else if user && (user.contestant || user.judge)
  h4 For free access to Ratchet.io for Node Knockout
    p 
      a(href="https://ratchet.io/fasttrack/nk2012/") https://ratchet.io/fasttrack/nk2012/

:markdown
  ## <a name="teleportd"></a>Teleportd

  [Teleportd](http://teleportd.com) provides an API for accessing mobile
  photos that are publicly shared online. It aggregates photos from Twitter,
  Instagram and a dozen other social networks, seeing an average of 100
  photos/s. Geolocation and keyword tags are associated with the photos,
  opening up a wide range of use cases.

if services.teleportd
  if !user
    p
      a(href="/login") Sign in
      |  to see how to get 
      strong free access to Teleportd's unlimited api
      |  during Node Knockout.
  else if user && (user.contestant || user.judge)
    h4 For free access to Teleportd's api for Node Knockout
    != markdown(services.teleportd)

:markdown
  ## <a name="mongolab"></a>MongoLab

  [MongoLab](http://mongolab.com) is a full-featured MongoDB-as-a-Service
  cloud solution that completely automates the operational aspects of running
  MongoDB. With the MongoLab cloud platform developers can deploy and manage
  highly available databases for their applications and leverage automated
  backups, web-based tools, 24/7 monitoring, and expert support. Free 500MB
  databases are available on Amazon AWS, Azure, Joyent, and Rackspace.

  No special credentials are needed to use MongoLab's free 500MB plan during
  Node Knockout. Just [sign up to get a free account](https://mongolab.com/signup/).

:markdown
  ## <a name="monitaur"></a>Monitaur

  [Monitaur](http://monitaur.net) is instant server monitoring. Set it up in
  30 seconds (seriously, it's really easy). Record and view your system stats
  in real time. [Try it out!](http://monitaur.net)

  _Want to be on this list? [Become a sponsor](/sponsors#services)._
