:markdown
  Here are some useful tutorials and services that we recommend for the
  competition.

  # Tutorials

  1. [How to install node & npm](http://blog.nodeknockout.com/post/33857791331/how-to-install-node-npm)
  2. [Managing dependencies with npm](http://blog.nodeknockout.com/post/33907937140/introduction-to-npm)
  3. [Writing a web app with Express](http://blog.nodeknockout.com/post/34180474119/getting-started-with-express)
  4. [Using Socket.IO for real-time messaging](http://blog.nodeknockout.com/post/34243127010/knocking-out-socket-io)
  5. [Persisting data with MongoDB & Mongoose](http://blog.nodeknockout.com/post/34302423628/getting-started-with-mongoose)
  6. [Creating a RESTful API with hapi](http://blog.nodeknockout.com/post/34571027029/making-an-api-happy-with-hapi)

  # Services

:markdown
  ## <a name="teleportd"></a>Teleportd

  [Teleportd](http://teleportd.com) provides an API for accessing mobile
  photos that are publicly shared online. It aggregates photos from 14 social
  networks including Twitter and Instagram, and sees an average of 100 photos/s.
  Geolocation and keyword tags are associated with the photos, opening up a
  wide range of use cases.

if services.teleportd
  if !user
    p
      a(href="/login") Sign in
      |  to see how to get 
      strong free access to Teleportd's unlimited api
      |  during Node Knockout.
  else if user && (user.contestant || user.judge)
    h4 For free access to Teleportd's api for Node Knockout
    != markdown(services.teleportd)

:markdown
  ## <a name="monitaur"></a>Monitaur

  [Monitaur](http://monitaur.net) is instant server monitoring. Set it up in
  30 seconds (seriously, it's really easy). Record and view your system stats
  in real time. [Try it out!](http://monitaur.net)

  _Want to be on this list? [Become a sponsor](/sponsors#services)._
