h1= title('Sponsors')

p.
  These guys are awesome. We wouldn't be able to do this without them, so give
  them some love.

ul.sponsors
  - _.shuffle(sponsors).forEach(function(sponsor) {
    - if (!sponsor.description) return;
    li
      a( href=sponsor.url )
        img( src='/images/sponsors/' + sponsor.image, class=sponsor.image.replace(/\.\w+$/, '') )
      != markdown(sponsor.description)
  - });

:markdown
  # <a name="interested">Be a sponsor</a>

  ## Top tier

  We have only _one more_ top tier sponsorship spot available. It includes
  everything below, your logo on every page of the site in the sidebar. An
  entry on this page and a very targeted newsletter.  [Contact us] if you're
  interested.

  ## Second tier

  We're making available a smaller second tier sponsorship. While it has less
  exposure and doesn't include branding, it still includes a lot of value. It
  costs _$500_ and includes:

  #### Competition services

  During the competition, contestants will be looking for infrastructure and
  software as a service products to accelerate their projects. They need
  anything from databases and fast key-value stores to message queues and
  continuous integration. Offering your valuable service to them during the
  competition and judging is a great way to get your product in front of
  developers.

  #### Job listing

  Everyone's looking to hire talented people nowadays. Node.js Knockout
  contestants are among the most sought after people in the industry. Get in
  front of them directly with your open positions on our upcoming job page.
  We'll also be sending out a newsletter with the same content at the end of
  the competition.

  #### Prizes

  Similar to during-competition services, if you've got a product that
  contestants would love to use after they're done coding, what better way to
  promote it than awarding it as a prize to winners?

  [Contact us]: mailto:all@nodeknockout.com
