h1= title('Sponsors')

p.
  These guys are awesome. We wouldn't be able to do this without them, so give
  them some love.

ul.sponsors
  - _.shuffle(sponsors).forEach(function(sponsor) {
    - if (!sponsor.description) return;
    li
      a( href=sponsor.url )
        img( src='/images/sponsors/' + sponsor.image, class=sponsor.image.replace(/\.\w+$/, '') )
      != markdown(sponsor.description)
  - });

:markdown
  # <a name="interested">Be a sponsor</a>

  ## <a name="platinum">Platinum Sponsorship</a>

  We'd like to thank [Joyent] and [Nodejitsu] for being platinum sponsors.

  Platinum sponsors cover the vast majority of the cost of putting on Node
  Knockout. Without our platinum sponsors, this competition could not take
  place.

  In addition to unlimited access to the items described in the
  [a la carte](#a-la-carte) options below, platinum sponsors are listed on the
  [sponsors page] and get their logo on _every page_ of the website.

  We work closely with platinum sponsors to integrate their services
  seemlessly into Node Knockout in ways that benefit the competition as a
  whole.

  We have _just one_ remaining platinum sponsorship opportunity available.
  [Contact us] if you're interested.

  ## <a name="a-la-carte">A La Carte Sponsorship</a>

  Companies who do not take advantage of a [platinum sponsorship](#platinum)
  opportunity may elect to take advantage of one of the a la carte sponsorship
  options outlined below:

  #### <a name="services">Service sponsorship - __$500__</a>

  During the competition, contestants will be looking for infrastructure and
  software as a service products to accelerate their projects. They need
  anything from databases and fast key-value stores to message queues and
  continuous integration.

  Offering your service to contestants during the competition and judging is a
  great way to get developers using your product.

  When you sponsor a service, we will promote it to developers for the
  competition and work with you to ensure that developers are able to use the
  service during the competition and judging.

  In addition, if you provide an article about how to get started using your
  service, we will publish it on [our blog]. Here's an
  [example from last year](http://blog.nodeknockout.com/post/9432191556/countdown-to-ko-25-mongohq).

  #### <a name="jobs">Job listing - __$500__</a>

  Want to let Node Knockout participants know that you're hiring? Then get a
  spot on our job list. Participants will receive an email after the
  competition with information about the available jobs.

  In addition, any [expert judges] from your company will have a badge on
  their votes that lets participants know they are hiring. This is a great way
  to start a relationship with developers who may be looking for new
  opportunities.

  #### <a name="prizes">Prize sponsorship - __$500__</a>

  The [prize page] is one of the most visted pages on the website.

  If you've got a product that contestants would love to use after they're
  done coding, what better way to promote it than awarding it as a prize to
  winners?

  When you sponsor a prize, we'll work with you to get the prize that you're
  providing on the [prize page].

  [Contact us]: mailto:all@nodeknockout.com
  [Joyent]: http://www.joyent.com
  [Nodejitsu]: http://www.nodejitsu.com
  [sponsors page]: /sponsors
  [prize page]: http://2011.nodeknockout.com/prizes
  [expert judges]: /judges
  [our blog]: http://blog.nodeknockout.com
