- title('Tell me a story')
h2: a( href="#slide-0" ) Let's take a short hike &rarr;

.slide#slide-0
  h1 story time

.slide#slide-1
  :markdown
    # Rails Rumble 2008

    - [craigslist][5] + google maps + yelp
    - [dive bars][1], [cannabis clubs][2], [dog walkers][3]
    - [gentrify][4]

    [1]: https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/169304_10151721664846677_555545152_o.jpg
    [2]: https://sphotos.xx.fbcdn.net/hphotos-snc6/243716_10151721664301677_1979889683_o.jpg
    [3]: https://sphotos.xx.fbcdn.net/hphotos-snc7/287884_10151721664421677_502054713_o.jpg
    [4]: https://sphotos.xx.fbcdn.net/hphotos-ash3/170402_10151721663486677_667022894_o.jpg
    [5]: https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc7/287826_10151721664166677_1032460112_o.jpg

.slide#slide-2
  :markdown
    # <3 hackathons

    - written up by [venturebeat][1]
    - too much traffic
    - concerned yelp email

    [1]: http://www.nytimes.com/external/venturebeat/2008/10/31/31venturebeat-99853-99853.html

.slide#slide-3
  :markdown
    # Rails Rumble 2009

    - [LAZEROIDS!][1]
    - asteroids + multiplayer

    [1]: http://lazeroids.com

.slide#slide-4
  :markdown
    # "Rails"?

    - 10,000 lines of JavaScript
    - [12 lines][1] of Ruby

    [1]: https://github.com/visnup/lazeroids/blob/master/app/metal/update.rb

.slide#slide-5
  :markdown
    # forcing 2009 to be realtime

    - XHR long-polling
    - [orbited][1]
    - Python package
    - Twisted

    [1]: https://bitbucket.org/desmaj/orbited

.slide#slide-6
  :markdown
    # omg node

    - yay websockets!
    - yay 100% javascript!

.slide#slide-7.rain
  :markdown
    # omg dilemma

    - rails rumble </3 node.js

.slide#slide-8
  h1 reenactment

.slide#slide-9
  :markdown
    # node.js knockout #1

    - 100 entries, 200 teams (arbitrary limit)
    - **sponsors** Palm, Sencha, Yahoo!, CouchDB, 10gen, Smule, JSConf, npm(??)
    - **judges** Brendan Eich, John Resign, Ryan Dahl, Isaac Schlueter, Mikeal
      Rogers, Guillermo Rauch, TJ Holowaychuk, ...
    - **locations** SF, NYC, Boston, Berlin, Cologne, Dresden, Paris, Vancouver

.slide#slide-10
  :markdown
    # 2010 winners

    - Swarmation
      <span class="note">(*realtime* *multiplayer* shape-making game)</span>
    - Blädderblock
      <span class="note">(*realtime* *multiplayer* pictionary)</span>
    - Wrath
      <span class="note">(REST API testing)</span>
    - GIANT ROBOTS...
      <span class="note">(*realtime* *multiplayer* tower defense)</span>
    - Serrano
      <span class="note">(*realtime* multi-browser session sharing)</span>
    - Gabber
      <span class="note">(cross-site *shared* chat room)</span>
    - Scrabb.ly
      <span class="note">(*multiplayer* collaborative crossword game)</span>

.slide#slide-11
  :markdown
    # 2011 winners

    - Observer
      <span class="note">(*realtime* session spying)</span>
    - Eight Bit Beats
      <span class="note">(*realtime multiplayer* music generation)</span>
    - Driv.in
      <span class="note">(*shared* simultaneous youtube viewing)</span>
    - Doodle or Die
      <span class="note">(*multiplayer* doodle telephone game)</span>
    - ACROnode
      <span class="note">(*multiplayer realtime* acronym game)</span>
    - GPU Lava
      <span class="note">(node+webgl bindings on an HP TouchPad)</span>
    - Chess@home
      <span class="note">(SETI@Home for chess AI)</span>

.slide#slide-12
  :markdown
    # 2012!

    - November 10-12, 2012 GMT
    - Registration open soon
    - [@node_knockout][1]
    
    [1]: https://twitter.com/#!/node_knockout/

.slide#slide-13
  :markdown
    # nko3 changes

    - no prizes
    - come talk to me if you disagree
    - nodejitsu only

.slide#slide-14
  :markdown
    # thanks

    - [@node_knockout][1]
    - [@visnup][2], [@gerad][3]

    [1]: https://twitter.com/#!/node_knockout/
    [2]: https://twitter.com/#!/visnup/
    [3]: https://twitter.com/#!/gerad/
