- title('Tell me a story')
h2: a( href="#slide-0" ) Let's take a short hike &rarr;

.slide#slide-0
  :markdown
    # story time

    - fire
    - seats
    - logs?
    - trees surrounding

.slide#slide-1
  :markdown
    # Rails Rumble 2008

    - craigslist + google maps + yelp = gentrification
    - dive bars
    - bike shops
    - tattoo parlors
    - buddhist temples
    - $$$ ice cream vendors
    - ![gentrify](http://venturebeat.files.wordpress.com/2008/10/gentrify.jpg)

.slide#slide-2
  :markdown
    # <3 hackathons

    - iframe: http://www.nytimes.com/external/venturebeat/2008/10/31/31venturebeat-99853-99853.html
    - too much traffic
    - concerned yelp email

.slide#slide-3
  :markdown
    # LAZEROIDS!

    - iframe: http://lazeroids.com

.slide#slide-4
  :markdown
    # uhoh

    - iframe: https://github.com/visnup/lazeroids/blob/master/app/metal/update.rb

.slide#slide-5
  :markdown
    # forcing 2009 to be realtime

.slide#slide-6
  :markdown
    # omg node

    - yay websockets!
    - yay 100% javascript!

.slide#slide-7
  :markdown
    # omg dilemma

    - rails rumble </3 node.js

.slide#slide-8
  h1 reenactment

.slide#slide-9
  :markdown
    # downhill

    - first logo

.slide#slide-10
  :markdown
    # 2010 winners

    - swarmation

.slide#slide-11
  :markdown
    # 2011 winners

.slide#slide-12
  :markdown
    # 2012!

    - November 10-12, 2012 GMT
    - [@node_knockout](https://twitter.com/#!/node_knockout/)

.slide#slide-13
  :markdown
    # one place to deploy

    - nodejitsu

.slide#slide-14
  :markdown
    # prizes

    - there are none!
    - come talk to me if you disagree

.slide#slide-15
  :markdown
    # thanks

    - @node_knockout
    - @visnup, @gerad
