h1= title((typeof(subset) === 'undefined' ? '': subset + ' ') + 'Judges') + ' (' + judges.length + ')'

ul.judges
  - each judge in judges
    li
      img.avatar( src=avatar_url(judge, 80) )
      h3: a( href='/people/' + judge )= judge.name
      != partial('people/details', { person: judge })
      .bio!= markdown(judge.bio)
      if admin && judge.nomination
        p.buttons
          - var twitterBase = 'http://twitter.com/intent/tweet?text=' + encodeURIComponent(('@' + judge.twitterScreenName).replace('@@', '@') + ' ');
          a.button( href=twitterBase + encodeURIComponent("You've been nominated to judge @node_knockout! Interested? Takes ~2hrs online, at your convenience, between 11/12 and 11/18."), target='twitter' ) Confirm
          | 
          a.button.scary.delete( href='/people/' + judge ) Delete
