li.vote( id: vote.id )
  != partial('info', { vote: vote })
  - if (vote.type === 'voter')
    .voter
      img.heart( src: '/images/iframe/heart.png' )
      - if (user && vote.personId.toString() === user.id.toString())
        |  You've voted for this entry.
  - else
    table
      tr
        - each d in Vote.dimensions
          th: label( for: d )= Vote.label(d)
      tr.stars
        - each d in Vote.dimensions
          td!= stars(vote[d])
      tr: td( colspan: 4 )
        .comment!= markdown(vote.comment)
    .clear
    - if (vote.replies && vote.replies.length)
      ul.replies!= partial('replies/reply', vote.replies)
    - if (voting && user && vote.replyable(user))
      != partial('replies/form')
