h1= title('Sign in as a&hellip;')

ul.options
  li
    a( href='/login/github'): div.dude.beast
    a.button( href='/login/github' ) Competitor
    .via via 
      i.icon-github
      |  github

  li
    a( href='/login/twitter'): div.dude.suit
    a.button( href='/login/twitter' ) Judge
    .via via 
      i.icon-twitter
      |  Twitter
//
  li
    a( href='/login/facebook'): div.dude.littleguy
    a.button.scary( href='/login/facebook' ) Public Voter
    .via via 
      i.icon-facebook
      |  Facebook
