.info
  .change.toggle-reply: a.toggle-reply-form( href: '#' ) Reply
.reply
  form.reply( method: 'POST', action: '/votes/' + vote.id + '/replies' )
    != _csrf
    textarea( name: 'message' )
    input( type: 'submit', value: 'Reply' )
    | 
    a.toggle-reply-form( href: '#' ) Cancel
