module.exports = {
  github: 'github oauth app secret',
  facebook: 'facebook oauth app secret',
  twitter: 'twitter oauth app secret',
  postageapp: 'postage app api key',
  session: 'express session key',
  twitterUser: {
    accessToken: 'twitter user access token',
    accessTokenSecret: 'twitter user access token secret'
  }
};
